
h2 Enlaces
a(href='http://www.google.com') Ir a google
&nbsp;|&nbsp
a(href='http://www.yahoo.com') Ir a yahoo
&nbsp;|&nbsp
a(href='http://youtube.com') Ir a youtube
h2 Anclas
a(name="inicio")
a(href='#info1') Ir a informacion 1
&nbsp;| &nbsp
a(href='#info2') Ir a informacion 2
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
h1 Informacion 1
a(name="info1")
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos optio quisquam officiis eos. Perferendis numquam incidunt dolorum voluptate, eius possimus aperiam, dolore? Incidunt amet molestiae, cupiditate est quam, corrupti iure!
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(href='#inicio') Ir al inicio
a(name="info2")
h1 Informacion 2
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eligendi corrupti explicabo dolore dolorem maiores tenetur repellendus asperiores nisi optio modi porro, harum voluptate vel officia incidunt dolores officiis labore.