doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Lista NO ordenada
body
  ul
    li Amarillo
    li Rojo
    li Blanco 
    li Verde
  ul
    li Carlos
    li Ana
    li Maria
    li Manuel
    li Angel
  ul
    li Serie A
      ul
        li Inter de Milan
        li Juventus
        li Milan
      li liga BBVA
        ul
          li Atletico Madrid
          li Barcelona
          li Valencia
        li liga aguila
          ul
            li once caldas
            li Millonarios 
            li Junior