doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Lista Ordenada
body
  ol
    li Presinar (CTRL + SHIFT + P)
    li Escribimos "Control Pacage"
    li Seleccionamos "Install Pacage"
    li Escribimos "emmet"
    li Seleccionamos Presionando "ENTER"