doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Imagenes
body
 img(src='http://tinyurl.com/hveasdz' title= 'Imagen de Internet') 
 img(src='http://tinyurl.com/hveasdz', width='120px') 
 img(src='http://tinyurl.com/hveasdz', height='100')