doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Tablas
body
  table(border=1)
    tr
      th Nombre Completo
      th Telefono
      th Direccion
    tr
      td Jermias
      td 8411122
      td Calle 11 7A - 32
    tr
      td Maria Cardona
      td 8451166
      td Calle 15 7A - 38
    tr
      td Juan Pijamas
      td 8345467
      td Calle 95 79A - 87