doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Selecciones Tablas
body
  table(border=1)
    tfoot
      tr
        td(colspan=3) Informacion de los usuarios
    thead
      
        th Nombres
        th Titulacion
        th Año
    tbody
        tr
          th Hugo
          th ADSI
          th 2016
        tr
          th Paco 
          th Salud ocupacional
          th 2015
        tr
          th Luis
          th Soldadura
          th 2014
