DOCTYPE 
html(lang="en")
head
  meta(charset="UTF-8")
  title servicios
    link(href= 'estilos css')
body
  .marcoppal
     .encabezado
       a(href='inicio') Inicio
       a(href='nosotros.html') Nosotros
       a(href='javascript:;') Servicio
       a(href='contacto.html') Contacto
     .contenido
       h1 servicios
         //-img(src='imagenes/index.jpg
         img(src="imagenes/index.png")
       p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eius debitis atque nulla eligendi repellendus tempore, molestiae dignissimos et fuga suscipit porro ut ipsam exercitationem libero adipisci nobis assumenda neque. Error iusto, incidunt inventore ad ratione distinctio officiis totam amet fugit est explicabo, doloribus ipsa libero. Nemo dicta explicabo aliquid perspiciatis officiis autem iusto exercitationem nihil! Velit incidunt consequuntur voluptas hic nam atque, adipisci. Corporis, aliquam laborum odio dolorum, laudantium accusamus quod? Necessitatibus voluptatum alias magnam fuga illo, quasi doloribus laborum dicta inventore cum nostrum illum tenetur vitae dolore quos. Earum, sed sunt assumenda in laudantium esse maiores ipsum obcaecati?
     .pie