doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title 
  body
     h1 Mi primer documento HTML 5
     P  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam rerum dicta hic sequi velit beatae incidunt maiores blanditiis ipsa consequatur tempora aliquam, nam, unde nulla dolor, iste in animi ex quia possimus saepe? Ab eligendi, neque, reiciendis eius tenetur explicabo repudiandae nulla excepturi sequi aspernatur ducimus quae nisi dolorem fugit sint enim rem soluta architecto. Aliquid suscipit nemo excepturi velit maiores sequi esse est officia ullam minima blanditiis eos tempore, pariatur necessitatibus iusto modi porro corporis nihil fugiat vel odit ipsum! Corporis, doloremque magnam quibusdam asperiores temporibus cupiditate sint recusandae, obcaecati delectus illo reiciendis. Sit nulla dolorem delectus illo.