section#sprite2
	background transparent url(../imgs/sprite2.png)
	color lime
	border 2px solid lime
	height 69px
	margin 20px auto
	width 67px
section#sprite2.anim1
	background-position 0px 0px
section.sprite2.anim2
	background-position -80px 0px
section#sprite2.anim3
	background-position -124px 0px	
section#sprite2.anim4
	background-position -130px 0px
section#sprite2.anim5
	background-position -140px 64px	
section#sprite2.anim6
	background-position -0px 64px	
section#sprite2.anim7
	background-position -80px 64px		
section#sprite2.anim8
	background-position -124px 64px	
section#sprite2.anim9
	background-position -130px 128px
section#sprite2.anim10
	background-position -140px 128px
section#sprite2.anim11
	background-position -160px 128px
section#sprite2.anim12
	background-position -240px 128px
section#sprite2.anim13
	background-position -0px 192px
section#sprite2.anim14
	background-position -80px 192px	
section#sprite2.anim15
	background-position -160px 192px
section#sprite2.anim16
	background-position -240px 192px																	