body
	font 16px Arial
section
	width 659px
	height 439px
	background #fff url(../imgs/edc.jpg)
	h2
		background-color rgba(0,0,0,0.7)
		color #fff
		padding 8px 4px
		text-align center
section.rotarX
	transform rotateX(45deg)	
	-webkit-transform rotateX(45deg)
section.rotarY
	transform rotateY(45deg)
	-webkit-transform rotateY(45deg)			