section::before
	content ":)"
	color #fff
	font-size 10em
	transform translateX(90deg)
section
	background-color #c22a47
	height 200px
	width 300px
	margin 20px auto
	transition width 0.5s, height 0.5s 0.5s, transform 0.5s 0.5s
	
section:hover
	width 600px
	height 400px
	transform rotate(45deg)	