section.animacion
	animation 0.5ms animAnimacion infinite
@keyframes animAnimacion
	from 
		transform translateX(0px)
	to 
		transform translateX(20px)	
div.forma
	background-color #53a67d
	border-radius 50%
	height 200px
	margin 200px auto
	width 200px
	animacion 0.5s animForma infinite ease-in-out alternative 
@keyframes animForma
	from 
		transform translateY(0px)
	to 
		transform translateY(-160px)	