div {
  text-align: center;
  font: 1.2em ALGERIAN;
}
section {
  background-color: #ff0202;
  border: 4px solid #ff5502;
  height: 180px;
  width: 300px;
/*Forma Larga */
  padding-top: 80px;
  padding-right: 130px;
  padding-bottom: 100px;
  padding-left: 80px;
/* Forma Corta*/
  padding: 80px 130px 100px 80px;
}
section div.box {
  border: 4px dotted;
  background-color: #f6ff05;
  height: 100px;
  width: 200px;
}
