doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Comentarios (jade)
  body
    h1 Comentarios (jade)
    //solo algunos parrafos
    p foo
    p bar
    br 
   
    h1 caso 2
    //
      As much text as you want
      can go here.
  