doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Condicionales (jade)
  body
    h1 Condicionales (jade)
    - var edad = 20
    - var genero = 'f'
    //condicional if (si)
    if edad < 18
      h2 Ustes es menor de edad
    else
      h2 Usted es mayor de edad
      if genero == 'f'
        h3 y no puede prestar el servicio