doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Tags
  body
    h1 Caso 1
       h2 Tags
       ul
          li Item A
          li Item B
          li Item C
       hr   
    h1 Caso 2
       h2 Bloques de expansion
       img(src='https://s-media-cache-ak0.pinimg.com/600x315/7b/f6/6f/7bf66f8622b18f141456452c454650ee.jpg')
    hr
    
    h1 Caso
      h2 Etiquetas de cierre automatico
      foo/
      foo(bar='baz')/