
<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <title>Imagenes</title>
</head>
<body><img src="http://tinyurl.com/hveasdz" title="Imagen de Internet">
<img src="http://tinyurl.com/hveasdz" width="120px">
<img src="http://tinyurl.com/hveasdz" height="100">
</body>