section {
  background: #fce9c3 url("../imgs/lobo.jpg") no-repeat;
  border: 50px solid transparent;
  height: 100px;
  padding: 50px;
  margin: 20px auto;
  width: 400px;
}
section.origen1 {
  background-clip: border-box;
}
section.origen2 {
  background-clip: padding-box;
}
section.origen2 h2 {
  color: #fff;
}
section.origen3 {
  background-clip: content-box;
}
section.origen3 h2 {
  color: #fff;
}
