section.multiples {
  border: 4px solid #618a4f;
  background-image: url("../imgs/fondo3.png"), url("../imgs/fondo2.png"), url("../imgs/fondo1.png");
  background-repeat: no-repeat;
  width: 724px;
  height: 453px;
  margin: 20px auto;
}
