section {
  background-color: #ff0202;
  width: 250px;
  height: 250px;
  color: #fff;
  font-family: Arial;
  line-height: 240px;
  text-align: center;
}
.caja1 {
  -webkit-transform: rotate(45deg);
  transform: rotate 45deg;
}
.caja2 {
  -webkit-transform: rotate(-45deg);
  transform: rotate -45deg;
}
