section {
  background-color: #576eac;
  width: 250px;
  height: 250px;
  color: #fff;
  font-family: Arial;
  line-height: 240px;
  text-align: center;
}
.cajas1 {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.cajas2 {
  -webkit-transform: scaleX(0.2);
  transform: scaleX(0.2);
}
.cajas3 {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}
.cajas4 {
  -webkit-transform: scale(0.5, 2);
  transform: scaleY(0.5, 2);
}
