section {
  background-color: #f00;
  width: 250px;
  height: 250px;
  color: #fff;
  font-family: Arial;
  line-height: 240px;
  text-align: center;
}
.cajas1 {
  -webkit-transform: skew(47deg);
  transform: skew(47deg);
}
.cajas2 {
  -webkit-transform: skewX(-55deg);
  transform: skewX(-55deg);
}
.cajas3 {
  -webkit-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
}
