body {
  text-align: center;
  background-color: #37b5d4;
}
nav {
  margin: 20px auto;
}
nav li:hover {
  background-color: #f00;
  color: #008000;
  height: 30px;
  width: 80px;
}
nav li {
  border-radius: 30px;
  margin-left: 30px;
  display: inline-block;
  background-color: #808080;
  padding: 10px;
}
nav li.Home:hover {
  text-align: center;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: all 4s;
}
nav li.AboutUs:hover {
  text-align: center;
  -webkit-transform: rotate(180deg) scale(0.2);
  transform: rotate(180deg) scale(0.2);
  transition: all 4s;
}
nav li.Services:hover {
  text-align: center;
  -webkit-transform: scale(1.2) skew(20deg);
  transform: scale(1.2) skew(20deg);
  transition: all 4s;
}
nav li.ContactUs:hover {
  text-align: center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: all 4s;
}
div.div1 p {
  border: 2px solid #000;
  width: 600px;
  height: 330px;
  text-align: center;
  margin: 20px auto;
  color: #2bd2b5;
  background: url("../imgs/lobo.jpg") center center;
  background-size: 100%;
}
div.div1 p:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 2s;
}
div.div2 p {
  border: 2px solid #000;
  width: 600px;
  height: 330px;
  text-align: center;
  margin: 20px auto;
  color: #f00;
  background: url("../imgs/fondo1.png");
  background-size: 100%;
  overflow: scroll;
}
p.p1:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: all 2s;
}
