
/*funciones*/
sum(x, y)
	x + y
/*funcion con parametro opcional*/	
margintb(w, u = 3)
	w / u	
section 
	width sum(100px, 200px)
	height @width
	margin margintb(@width, 3) auto
	background-color #0afafd