//primer tipo de comentario, el cual se maneja utilizando un doble slage (Single-line)//
color = #0CB1FE
alto = 100.12px
ancho = 250.36px
/*Segundo tipo de comentario, el cual se maneja utilizando un slage, dos asteriscos
y despues se cierra con un slage(multi-line)*/
section
	height round(alto)
	margin 20px auto
	width ceil(ancho)
/*! Tercer tipo de comentario, el cual llama la atencion ya que se utilizan en el dos 
slages, dos asteriscos y u signo de almiracion.(milti-line-buffired)*/	
.caja1
	background-color lightness(color, 80%)	
.caja2
	background-color lightness(color, 60%)
.caja3
	background-color lightness(color, 40%)	
.caja4
	background-color complement(color)	
.caja5
	background-color invert(color)
.caja6
	background-color saturate(color, 10%)								