section
	margin 20px auto
	width 10px
article
	text-align center
div
	background-color silver
	display block
	height 100px
	margin 0px 0px -4px -4px
	width 40px
	oposity 0
	transform translateY(-54px)
	font-size 3em
	font 14px fantasy
.maroon
    background-color rgb() 
.red
    background-color rgb() 
.orange
	background-color rgb()   
.yellow
	background-color rgb()
.olive
	background-color rgb()
.purple
	background-color rgb()
.fuchsia
	background-color rgb()
.white
	background-color rgb()	
.lime 
	background-color rgb()
.green
	background-color rgb()
.navy
	background-color rgb()
.blue
	background-color rgb() 
.aqua
	background-color rgb()
.teal 
	background-color rgb()
.black
	background-color rgb()
.silver
	background-color rgb()
.gray 
	background-color rgb()	