h1
  text-align center

  .Margin
    background-color lime
    text-align center
    margin 0px auto
    width 800px
    height 500px
    .Border
      background-color red
      text-align center
      margin 0px auto
      width 700px
      height 400px
      .Padding
        background-color yellow
        text-align center
        margin 0px auto
        width 600px
        height 300px
        .Content
          background-color blue
          text-align center
          margin 0px auto
          width 500px
          height 200px