div
	text-align center
	font 3em ALGERIAN
	background-color #FF0006
section
	background-color #FE0000
	border 4px dotted #1503FC
	height 400px
	width 600px
section div.box
	background-color #F6FF05
	height 100px
	width 200px	
	/* Margenes: Forma Larga */
	margin-top 100px
	margin-right 130px	
	margin-bottom 200px
	margin-left 250px
	/*Margenes: Forma Corta */
	margin 100px 130px 200px 250px