body
	background-color #31FC02
	font 16px Tahoma
	color #0214FF
h2
	background-color #FFFFFF
	padding 20px
section
		background-color rgba(255, 255, 255, 0.5)
		height 500px
		padding 20px
section div
	display inline-block
	height 400px
	width 400px
	margin-left 4px
	
.fondocolor .fondo1
	background-color #FFF006
.fondocolor .fondo2
	background-color #0309FD
.fondocolor .fondo3
	background-color #FF0000
	
.imagenfondo .imagen1
	background-image url(../imgs/animate.jpg)	
	height 350px
	width 350px
.imagenfondo .imagen2
	background-image url(../imgs/woodland.jpg)	
.imagenfondo .imagen3
	background-image url(../imgs/Tomorrowland.jpg)	
	
.repetirfondo div 
	background-image url(../imgs/animate.jpg)
	background-color #fff	
	color #0CFF00
	width 298px
	

.repetirfondo .fondo1
	background-repeat repeat	
.repetirfondo .fondo2
	background-repeat no-repeat	
.repetirfondo .fondo3
	background-repeat repeat-x	
.repetirfondo .fondo4
	background-repeat repeat-y				
			
.section div h3	
	background-color rgba(0, 0, 0, .5)
	color #fff
	text-align center
	
.repetir .fondo1	
	background-repeat repeat
.repetir .fondo2
	background-repeat no-repeat
.repetir .fondo3	
	background-repeat repeat-x
.repetir .fondo4	
	background-repeat repeat-y
	
.posicionfondo
	height 1200px
.posicionfondo div
	background-image url(../imgs/apple.jpg)	
	background-repeat no-repeat
	
.posicion .fondo1
	background-position center left	
.posicion .fondo2
	background-position center center	
.posicion .fondo3
	background-position center right	
.posicion .fondo4
	background-position top left	
.posicion .fondo5
	background-position top center
.posicion .fondo6
	background-position top right
.posicion .fondo7
	background-position bottom left
.posicion .fondo8
	background-position bottom center
.posicion .fondo9
	background-position bottom left			