body
	background #000 url(../imgs/Tomorrowland.jpg) center center
	font 16px Arial
	background-attachment fixed  /*Scroll*/
	color #fff
	line-height 30px
	padding 50px
	text-align justify
	
p
	background-color rgba(0,0, 0, .6)
	padding 40px