body 
	color lime
	font 16px Arial
	
section.Padre
	border 2px solid #ccc
	height 300px
	padding 10px
	width 300px
section.Padre div
	border 2px solid #0FEAE2	
	height 60px
	line-height 60px
	margin-bottom 10px
	text-align center
	width 120px	
section.Padre div.flotar
	float right
	background-color #35DEE9
section.Padre1
	border 2px solid #ccc
	height 600px
	padding 10px
	width 600px	
section.Padre1 img
	float left
	margin-right 10px
section.Padre1 p.limpiar
	clear left	
		

	
	