body
	background-color #a10a43
	font 16px Arial
	text-align center
section
	border 10px solid #75052e
	background-color #fff
	margin 40px auto
	width 400px
	height 300px
	text-align center
section.pointer
	cursor pointer
section.move
	cursor move
section.wait
	cursor wait
section.help
	cursor hepl
section.image
	cursor url(../imgs/cursor.png), default		