body
	background-color #e82231
	font 16px Arial 
	padding 0px
	margin 0px
header
	background-color #fff
	height 150px
	margin 0px
header figure.logo
	background #fff url(../imgs/sprite-web.png) no-repeat
	border-bottom 4px solid rgba(0,0,0,0.2)
	background-position -274px -34px
	height 90px
	margin 0px
	width 244px	
nav 
	position relative	
	left 600px
	top -60px	
	width 900px
nav li
	background-color #e82231
	border-bottom 4px solid rgba(0,0,0,0.2)
	color #fff
	display inline-block
	vertical-align top
	margin-left -80px
	padding 30px 40px
	text-align center
	width 120px
nav li
	cursor pointer
			